name: Build

on:
  push:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Cache
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      # Idea is that if all tests pass, then it deserve to be built
      # It doesn't matter for 'build' workflow, but it does for 'build-and-release' workflow
      #  so I don't need to download all dependencies again
      - name: Build
        run: npm run build

      - name: Upload artifacts
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next'
        uses: actions/upload-artifact@v6
        with:
          path: dist # take everything from dist/ folder

  Release:
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next'
    needs: Build
    runs-on: ubuntu-slim
    environment: release
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: dist

      - name: Release
        uses: agilecustoms/release@main
        with:
          npm-extra-deps: conventional-changelog-conventionalcommits@9.1.0
        env:
          GH_TOKEN: ${{ secrets.GH_PUBLIC_RELEASES_TOKEN }}
